/* color palette from <https://github.com/vuejs/theme> */
:root {
    --main-bg-color: rgb(179,25,32);
    --main-text-color: #1C1F37;
    --title-color: #262626;
    --color-deep-blue: #345EB4;
    --color-blue: #4CA8FF;
    --color-yellow: #FBA33F;
    --text-color: #333;
    --text-color2: #8C8C8C;
    --border-color: #DCDFE6;
    --side-width: 95px;
}
