.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--side-width);
    height: 100vh;
    padding: 20px 0;
    color: #fff;
    background: var(--main-bg-color);
    transition: transform .3s;
    transform: translateX(calc(-1 * var(--side-width) + 5px));

    &--show {
        transform: translateX(0);
    }

    &__toggle {
        content: ">";
        position: absolute;
        top: 53px;
        left: var(--side-width);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 35px;
        border-radius: 0  100% 100% 0;
        font-size: 1.14rem;
        background: var(--main-bg-color);
        cursor: pointer;
        transition: transform .3s;

        &:hover {
            font-size: 1.43rem;
            font-weight: bold;
        }

        svg {
            transition: transform .5s;

            &.close {
                transform: rotateY(180deg);
            }
        }
    }
}

.sidebar__logo {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;

    img {
        width: 72px;
    }
}

.sidebar__nav {
    flex-grow: 1;
}

.sidebar__nav-item,
.sidebar__logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    font-size: 1.143rem;
    transition: .3s;
    cursor: pointer;

    > svg,
    > img {
        width: 28px;
        stroke: #fff;
        transition: transform .3s;
    }

    &--active {
        color:  var(--main-bg-color);
        background: #fff;

        > svg {
            stroke: var(--main-bg-color);
        }
    }

    &:hover {
        > svg,
        > img {
            transform: scale(1.2) rotate(-10deg);
        }
    }
}
